.usersContainer {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.searchUser {
  height: 10%;
  width: 42%;

  position: relative;
}
.inputLastName {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background: grey;
  color: black;
  font-size: 22px;
  cursor: pointer;
  padding: 3px;
}
.inputLastName::placeholder {
  color: black;
  font-size: 22px;
  padding-left: 75px;
}
