body{
    background: linear-gradient(to right, #D2B48C, #A52A2A);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.container::before,
.container::after {
    content: "";
    background-image: url('assets/books.jpeg'); 
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
}

.container::before {
    left: 0;
}

.container::after {
    right: 0;
}